span.indicator{
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 0.25em;
  background-color: #ccc;
  border: 1px solid #aaa;
}

span.indicator.green{
  background-color: green;
}


.bob-out{
  transform: rotate(15deg);
}

.throb-out{
  transform: scale(1.1,1.1);
}

.bob-transition{
  -webkit-transition: all, ease-out 0.2s;
  transition: all, ease-out 0.2s;
  -webkit-transform-origin: 50% 65%;
  transform-origin: 50% 100%;
}

.throb-transition{
  -webkit-transition: all, ease-out 0.1s;
  transition: all, ease-out 0.1s;
  -webkit-transform-origin: 50% 65%;
  transform-origin: 75% 50%;
}
